</div>
</main>
<footer>
    <nav class="footer-nav bright-text">
        <a class='header-nav' href="/about">About</a>
        |
        <a class='header-nav' href="/contact">Contact</a>
    </nav>
    <h3 class='center-text bright-text'> Bradley King 2022 &copy;</h3>
    <div></div>
</footer>
</body>
</html>