<%- include('./partials/header.ejs')%>
<h2 class='center-text'>Contact the North Carolina Astronomy Club</h2>
<div class='text-area'>
    <h3 class='center-text'>Contact us</h3>
    <p class='center-text'>Our email is ncastronomyclub@gmail.com and our phone number is (123)456-7890</p>
</div>
<%- include('./partials/footer.ejs')%>