<%- include('./partials/header.ejs')%>
<h2 class='center-text'>Welcome to the North Carolina Astronomy Club</h2>
<div class='text-area'>
    <h3 class='center-text'>Welcome to the North Carolina Astronomy Club Home page!</h3>
    <p class='p-margin'>This site can be used to organize new astronomy events. Meet with other amateur astronomers from North Carolina to watch meteor showers, eclipses, and other cool events. You can also create your own events to invite other people who are interested in space and Astronomy.</p>
    <p class='p-margin'>Check out the connections tab to get started!</p>
</div>
<%- include('./partials/footer.ejs')%>
       